.modal__container {
  width: 1024px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  overflow-y: auto;
  background: none;
  border: none;

  /* medium devices (tablets, 768px and up) the navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    grid-template-columns: 1fr 300px;
  }
}

.refill-window {
  position: relative;
  width: 750px;
  background: #17171f;
  border-radius: 5px;

  .refill-window__header {
    padding: 33px 39px 0;
    background-color: #1b1c24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .refill-window__title {
      position: relative;
      margin-bottom: 20px;
      color: #fff;
      font-weight: 900;
      font-size: 14px;
      text-transform: uppercase;
    }

    .refill-window__close{
      position: absolute;
      top: 7px;
      right: 8px;
      z-index: 5;
      width: 30px;
      color: #5f6277;
      font-size: 32px;
      text-align: center;
      transition: color .3s ease;
    }

    .refill-window__groups {
      display: flex;
      border-radius: 10px 10px 0 0;
      background-color: #21212a;

      .refill-window__group-wrapper {
        flex-shrink: 0;
        .refill-window__group-btn {
          position: relative;
          padding: 19px 15px;
          color: #8b8e9e;
          font-weight: 700;
          font-size: 11px;
          text-transform: uppercase;
          transition: background-color .3s ease,color .3s ease;
          .refill-window__group-text {
            position: relative;
          }
        }
        .refill-window__group-btn--active {
          color: #f8bc76;
        }
      }
    }
  }

  .refill-window__footer {
    padding-bottom: 30px;
    .refill-window__content {
      padding: 0 39px;

      .refill-window__payments {
        height: 300px;
        margin: 18px -15px 18px -5px;
        padding-right: 7px;
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .refill-window__payments-list {
          display: flex;
          flex-wrap: wrap;
          margin: -5px 0;

          .refill-window__payment {
            flex: 0 0 20%;
            padding: 5px;

            .refill-window__payment-btn {
              position: relative;
              width: 100%;
              height: 81px;
              background-color: #1d1d26;
              border-radius: 8px;
              cursor: pointer;
              transition: background-color .3s ease;

              &:hover {
                background-color: #21212a;
              }

              .refill-window__payment-icon {
                max-width: 65px;
                margin-top: 3px;
              }

              .refill-window__payment-label {
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 4px 6px;
                font-size: 10px;
                background-color: #2d2d38;
                border-radius: 6px;
                color: white;
                transition: background-color .3s ease;
              }
            }
          }
        }
      }
    }
    .refill-window__promo-wrapper {
      margin-bottom: 20px;
    }
    .refill-window__bonus {
      position: relative;
      padding-bottom: 30px;
      color: #89898f;
      border-top: 2px solid #1b1c24;

      .refill-window__bonus-text {
        position: absolute;
        bottom: 24px;
        left: 50%;
        max-width: 100%;
        padding: 0 15px;
        overflow: hidden;
        color: #64ce82;
        font-size: 13px;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
        background-color: #17171f;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

.refill-window__promo {
  display: flex;
  justify-content: space-between;

  .refill-window__promo-input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 2px;

    .refill-window__pre-input {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 60px;
      border-radius: 0 8px 8px 0;
      color: #c2c7d7;
      font-size: 15px;
      text-align: center;
      background-color: #0e0e0f;
      transition: background-color .3s ease;
      border-right: .1px solid rgba(68, 68, 68, 0.5);
      border-top: .1px solid rgba(68, 68, 68, 0.5);
      border-bottom: .1px solid rgba(68, 68, 68, 0.5);
    }
    .refill-window__amount-input {
      outline: none;
      height: 60px;
      padding: 17px 20px;
      color: #c2c7d7;
      font-size: 13px;
      background-color: #0e0e0f;
      border-radius: 8px 0 0 8px;
      border: .1px solid rgba(68, 68, 68, 0.5);
      width: 100%;
      text-align: center;
      transition: background-color .3s ease;
    }
    .refill-window__promo-code {
      position: absolute;
      margin-top: -20px;
      padding: 10px 30px;
      background: linear-gradient(180deg, #131313 -46.2%, #111111 130.38%);
      backdrop-filter: blur(43px);
      border-radius: 5px 5px 0px 0px;
      font-weight: 700;
      font-size: 11px;
      line-height: 8px;
      color: #FAAE23;
      .refill-window__promo-code-label {
        color: white;
      }
    }
    .refill-window__promo-input {
      outline: none;
      width: 100%;
      padding: 17px 20px;
      color: #c2c7d7;
      font-size: 13px;
      text-align: center;
      background-color: #0E0E0F;
      transition: background-color .3s ease;
      border: .1px solid rgba(68, 68, 68, 0.5);
      border-radius: 8px;
    }
  }
}
.refill-window__payment-info {
  display: flex;

  .refill-window__button-wrapper {
    flex-grow: 1;

    .refill-window__button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      padding: 25px 15px;
      color: #272735;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      background-color: #64ce82;
      border-radius: 8px;
      transition: background-color .3s ease,opacity .3s ease;
    }

    .refill-window__button--disabled {
      cursor: not-allowed;
      opacity: .7;
    }
  }
}
